<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="justifier.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Justifier</title>
</head>
<body>
    <section>
        <div class="Dashboard">
            <div class="profil"></div>
            <a href="tabbord.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-tasks" aria-hidden="true"></span>Tableau de bord</span></a>
            <a href="list.cour.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des cours</a>
            <a href="voir.absence1.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Voir mes absences</a>
            <a href="justification.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Mes justifications</a>
            <a href="index.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-sign-out" ></span>Se Déconnecter</a>
        </div>
        <div class="prof-body">
            <div class="container">
                <div ><a href="voir.absence1.html"><span style="margin: 1% 3%;font-size: 30px;cursor: pointer;color: black;" class="fa fa-arrow-circle-left"></a></span></div>
                <h3 >JUSTIFIER VOTRE ABSENCE</h3>
                <form action="">
                    <div>
                        <label for="">Motif de l'absence</label><br>
                    <textarea name="" id="" cols="50" rows="15"></textarea> 
                    </div>
                   <div>
                       <label for="">Piece jointe</label><br>
                       <input type="file" name="" id="">
                   </div>
                   <a href="voir.absence1.html"><button class="bout" type="button">Justifier</button></a>
                </form>
            </div>
        </div>
    </section>
</body>
</html>