<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="liste.cours.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Justification</title>
</head>
<body>
    <section>
        <div class="Dashboard">
            <div class="profil"></div>
            <a href="tabbord.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-tasks" aria-hidden="true"></span>Tableau de bord</span></a>
            <a href="list.cour.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des cours</a>
            <a href="voir.absence1.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Voir mes absences</a>
            <a href="justification.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Mes justifications</a>
            <a href="index.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-sign-out" ></span>Se Déconnecter</a>
        </div>
        <div class="prof-body">
            <div class="container">
                <form>
                    <label for="">Date de la justification</label>
                    <input type="date" name="" id="">
                    <label style="margin-left: 3%;">Etat de la justification</label>
                    <select name="" id="">
                        <option value=""></option>
                        <option value="">no traitée</option>
                        <option value="">refusée</option>
                        <option value="">acceptée</option>
                    </select>
                    <button class="bout" type="submit">OK</button>
                </form>
                <h3>LISTE DES CLASSES</h3>
                <table class="table-style">
                    <thead>
                        <tr>
                            <td>Date absence</td>
                            <td>Date justification</td>
                            <td>Module</td>
                            <td>Etat justification</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>16-10-2023</td>
                            <td>16-10-2023</td>
                            <td>Algo</td>
                            <td>Non-traiter</td>
                        </tr>
                        <tr>
                            <td>16-10-2023</td>
                            <td>16-10-2023</td>
                            <td>Algo</td>
                            <td>Non-traiter</td>
                        </tr>
                        <tr>
                            <td>16-10-2023</td>
                            <td>16-10-2023</td>
                            <td>Algo</td>
                            <td>Non-traiter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>