<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Accueil (Prof)</title>
</head>
<body>
    <form method="post" action="mes.cours.html">
        <h4>Page Connexion</h4>     
        <hr>
        <div>
            <label>Login</label>
            <input type="text" name="login" placeholder="login">
        </div>
        <div>
            <label>password</label>
             <input type="password" name="password" placeholder="password">
           
        </div>  
        <a href="mes.cours.html"><input type="button" value="Se connecter" name="connect"></a>
    </form>
</body>
</html>