*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
}
.Dashboard{
    width: 23%;
    height: 100%;
    background-color: #16858C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.profil{
    width: 90px;
    height: 90px;
    margin:10% 28%;
}
.profil img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.infos h3{
    font-size: 16px;
    color: white;
    margin: 0 10px;
}

.Dashboard a{
    width: 90%;
    height: 50px;
    background-color: #16858C;
    margin-bottom: 2%; 
    border: 1px solid white; 
    font-size: 18px;
    font-weight: bolder;
    color: white;
    border-radius: 5px/5px;

}
.Dashboard a:last-child{
    border: 1px solid rgba(4, 4, 4, 0.46);
    background-color: rgba(4, 4, 4, 0.46);
    cursor: pointer; 
}
.Dashboard a:hover{
    background-color: rgba(4, 4, 4, 0.46);
    border: 1px solid rgba(4, 4, 4, 0.46);
    border-radius: 0px 15px 0px 10px;
    color: white;
}
.prof-body{
    width: 100%;
    height: 100%;
    position: relative;

}
.container{
    width: 95%;
    height: 90vh;
    margin:3% 3%;
    box-shadow: 0 0 5px gray,
    0 0 10px gray;
    background-color: white;
}
.container h3{
    color: gray;
    text-align: center;
}
.container button{
    width: 90px;
    height: 40px;
    background-color: #16858C;
    border-radius: 5px/5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 90%;
}
.table-style{
    /* border: 2px solid gray; */
    border-collapse: collapse;
    min-width:900px;
    width: 100%;
    margin: 50px auto;
    cursor: pointer;
    /* box-shadow: 5px 5px 10px gray; */
    border: none;
    /* background-color: aqua; */
}
.table-style-annee{
    /* border: 2px solid gray; */
    border-collapse: collapse;
    min-width:250px;
    width: 50%;
    margin: 40px auto;
    cursor: pointer;
    /* box-shadow: 5px 5px 10px gray; */
    border: none;
    /* background-color: aqua; */
}
thead tr{
    color: white;
    background-color: #16858C;
    font-weight: bolder;
    font-size: 18px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

th, td{
    padding: 15px 5px;
    }
    tbody,th,tr,td{
        /* border-top: 1px solid gray; */
        text-align: center;
        border-bottom: 1px solid gainsboro;
        font-weight: 500;
    }

thead td{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
button.bout{
    width: 150px;
    height: 40px;
    background-color: #16858C;
    border: 1px solid #16858C ;
    border-radius: 5px/5px;
    color: white;
    margin-left: -2%;   
    font-weight: bolder;
    cursor: pointer;
}

form{
    width: 90%;
    height: auto;
    margin: 0 auto;
    /* background-color:red; */
    border-radius: 10px/10px;
    /* box-shadow: 0 0 5px gray,
    0 0 10px gray; */
    padding: 5%;
}
.annee-form{
    width: 90%;
    height: 180px;
    margin: 0 auto;
    /* background-color:red; */
    border-radius: 10px/10px;
    /* box-shadow: 0 0 5px gray,
    0 0 10px gray; */
    padding: 5%;
}
label{
    margin-bottom: 5px;
    font-size: 22px;
}
input{
    padding: 10px;
    border: 1px solid gainsboro;
    margin-bottom: 5%;
    border-radius: 5px/5px;
    margin-top: 1%;
    /* margin-left: 2%; */
    background-color: gainsboro;
    width: 100%;

}
 .inpt{
    padding: 10px;
    border: 1px solid gainsboro;
    margin-bottom: 5%;
    border-radius: 5px/5px;
    margin-left: 2%;
    background-color: gainsboro;
    width: 35%;

}
select{
    padding: 10px;   
    width: 35%;
    margin-left: 4%;
    background-color: gainsboro;
    border: 1px solid gainsboro;
}
#choix{
    padding: 10px;   
    width: 100%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-color: gainsboro;
    border: 1px solid gainsboro;
}

#butt{
    width: 100px;
    height: 40px;
    background-color: #16858C;
    color: white;
    margin: 6% 45%;
    font-weight: bolder;
    font-size: 16px;
    border: 1px solid #16858C ;
    border-radius: 5px/5px;
    cursor: pointer; 
}
#butt:hover{
    filter: brightness(1.1);
}
#bout{
    width: 100px;
    height: 40px;
    background-color: #16858C;
    color: white;
    margin: 2% 45%;
    font-weight: bolder;
    font-size: 16px;
    border: 1px solid #16858C ;
    border-radius: 5px/5px;
    cursor: pointer; 
}
#bout:hover{
    filter: brightness(1.1);
}
.but{
    width: 120px;
    height: 40px;
    background-color: #16858C;
    color: white;
    margin: 0% 45%;
    font-weight: bolder;
    font-size: 18px;
    border: 1px solid #16858C ;
    border-radius: 5px/5px;
    cursor: pointer; 
}
.but:hover{
    filter: brightness(1.1);
}
#but-add{
    width: 90px;
    height: 40px;
    background-color: #16858C;
    color: white;
    margin: -2% 45%;
    font-weight: bolder;
    font-size: 16px;
    border: 1px solid #16858C ;
    border-radius: 5px/5px;
    cursor: pointer; 
}
#but-add:hover{
    filter: brightness(1.1);
}
.page{
    width: 150px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    left: 60%;
    transform: translate(-50%,-50%);
    /* box-shadow: 0 2px 20px 0 gainsboro; */
/* border-radius: 50%; */
}

.page a{
    color: black;
    padding: 5%;
    border-radius: 100%;
    margin: 5% 2px;
    font-size: 20px;
    box-shadow: 0 2px 5px 0 black;
}
.page a:hover{
   background-color: #16858C;
   color: white;
}
.pag a{
    color: black;
    padding: 1%;
    border-radius: 100%;
    margin: 2% 5%;
    font-size: 20px;
    box-shadow: 0 2px 5px 0 black;
}
.pag a:hover{
   background-color: #16858C;
   color: white;
}





