<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inscrire.etudiant.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Ajouter un professeur</title>
</head>
<body>
    <section>
        <div class="Dashboard">
            <div class="profil"></div>
            <a href="tabbord.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-tasks" aria-hidden="true"></span>Tableau de bord</span></a>
            <a href="liste.etudiant.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list" ></span>Liste des etudiants</a>
            <a href="list.cour.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des cours</a>
            <a href="liste.classe.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des classes</a>
            <a href="liste.justification.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des justifications</a>
            <a href="index.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-sign-out" ></span>Se Déconnecter</a>
        </div>
        <div class="prof-body">
            <div class="container">
                <div ><a href="liste.etudiant.html"><span style="margin: 2% 5%;font-size: 30px;cursor: pointer;color: black;" class="fa fa-arrow-circle-left"></a></span></div>
                <h3>AJOUTER UN ETUDIANT</h3>
                <form method="post" action="">
                    <div >
                        <label>Prénom</label>
                        <input type="text" name="login">
                        <label style="margin-left: 10%;">Nom</label>
                        <input type="text" name="login">
                    </div>
                    <div>
                        <label >Login</label>
                        <input style="margin-left: 4%;" type="text" name="login">
                        <label style="margin-left: 5%;">password</label>
                         <input type="password" name="password">
                    </div>  
                    <div>
                        <label for="">Address</label>
                        <input type="text" name="login">
                        <label style="margin-left: 5%;">Classe</label>
                        <select name="" id="">
                            <option value=""></option>
                            <option value="">L1DEVWEB</option>
                            <option value="">L2DEVWEB</option>
                            <option value="">L1GL</option>
                            <option value="">L2GL</option>
                            <option value="">L1DESIGN</option>
                            <option value="">L1DESIGN</option>

                        </select>
                    </div>
                    <a href="liste.etudiant.html"><button class="but" type="button">Ajouter</button></a>
            
                </form>
                
            </div>
        </div>
    </section>
</body>
</html>