<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="liste.classe.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Liste classe</title>
</head>
<body>
    <section>
        <div class="Dashboard">
            <div class="profil"></div>
            <a href="tabbord.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-tasks" aria-hidden="true"></span>Tableau de bord</span></a>
            <a href="liste.etudiant.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list" ></span>Liste des etudiants</a>
            <a href="list.cour.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des cours</a>
            <a href="liste.classe.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des classes</a>
            <a href="liste.justification.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des justifications</a>
            <a href="index.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-sign-out" ></span>Se Déconnecter</a>
        </div>
        <div class="prof-body">
            <div class="container">
                <h3>LISTE DES CLASSES</h3>
                <table class="table-style">
                    <thead>
                        <tr>
                            <td>Nom</td>
                            <td>Filière</td>
                            <td>Niveau</td>
                            <td>Etudiants</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>L1DEV</td>
                            <td>DevWeb</td>
                            <td>L1</td>
                            <td>
                                <a href="liste.etudiantL1.html"><button class="bout" type="submit">Liste des Etudiants</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>L2DEV</td>
                            <td>DevWeb</td>
                            <td>L2</td>
                            <td>
                                <a href="liste.etudiantL2.html"><button class="bout" type="submit">Liste des Etudiants</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>L1GL</td>
                            <td>GL</td>
                            <td>L1</td>
                            <td>
                                <a href="liste.etudiantGL1.html"><button class="bout" type="submit">Liste des Etudiants</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>L2GL</td>
                            <td>GL</td>
                            <td>L2</td>
                            <td>
                                <a href="liste.etudiantGL2.html"><button class="bout" type="submit">Liste des Etudiants</button></a>
                            </td>
                        </tr>
                        <td>L1Design</td>
                        <td>Design</td>
                        <td>L1</td>
                        <td>
                            <a href="liste.etudiantDesign.html"><button class="bout" type="submit">Liste des Etudiants</button></a>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>