<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="liste.etudiant.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Liste etudiants</title>
</head>
<body>
    <section>
        <div class="Dashboard">
            <div class="profil"></div>
            <a href="tabbord.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-tasks" aria-hidden="true"></span>Tableau de bord</span></a>
            <a href="liste.etudiant.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list" ></span>Liste des etudiants</a>
            <a href="list.cour.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des cours</a>
            <a href="liste.classe.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des classes</a>
            <a href="liste.justification.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des justifications</a>
            <a href="index.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-sign-out" ></span>Se Déconnecter</a>
        </div>
        <div class="prof-body">
            <div class="container">
                <h3>LISTE DES ETUDIANTS</h3>
                <a href="inscrire.etudiant.html"><button class="button" type="submit">Inscrire <span class="fa fa-plus" ></span></button></a>
                <table class="table-style">
                    <thead>
                        <tr>
                            <td>Prénom</td>
                            <td>Nom</td>
                            <td>Matricule</td>
                            <td>Classe</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Amadou</td>
                            <td>Ba</td>
                            <td>2022-am-VUA</td>
                            <td>L1DEVWEB</td>
                            <td>
                                <a href="voir.absence1.html"><button class="bout" type="submit">Voir les absences</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Awa</td>
                            <td>Sene</td>
                            <td>2022-sene-XYZ</td>
                            <td>L2DEVWEB</td>
                            <td>
                                <a href="voir.absence2.html"><button class="bout" type="submit">Voir les absences</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Ibrahima</td>
                            <td> Mané</td>
                            <td>2022-mane-BVB</td>
                            <td>L1GL</td>
                            <td>
                                <a href="voir.absence3.html"><button class="bout" type="submit">Voir les absences</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Thierno Hamidou</td>
                            <td>Sarr</td>
                            <td>2022-sarr-BXD</td>
                            <td>L2GL</td>
                            <td>
                                <a href="voir.absence3.html"><button class="bout" type="submit">Voir les absences</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Khadija</td>
                            <td>Sow</td>
                            <td>2022-sow-DAJ</td>
                            <td>L1DESIGN</td>
                            <td>
                                <a href="voir.absence3.html"><button class="bout" type="submit">Voir les absences</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Issa</td>
                            <td>Diatta</td>
                            <td>2022-diatta-AXB</td>
                            <td>L2DESIGN</td>
                            <td>
                                <a href="voir.absence3.html"><button class="bout" type="submit">Voir les absences</button></a>
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>