<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="liste.justification.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>justification</title>
</head>
<body>
    <section>
        <div class="Dashboard">
            <div class="profil"></div>
            <a href="tabbord.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-tasks" aria-hidden="true"></span>Tableau de bord</span></a>
            <a href="liste.etudiant.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list" ></span>Liste des etudiants</a>
            <a href="list.cour.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des cours</a>
            <a href="liste.classe.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des classes</a>
            <a href="liste.justification.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des justifications</a>
            <a href="index.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-sign-out" ></span>Se Déconnecter</a>
        </div>
        <div class="prof-body">
            <div class="container">
                <h3>LISTE DES JUSTIFICATIONS</h3>
                <table class="table-style">
                    <thead>
                        <tr>
                            <td>Prénom</td>
                            <td>Nom</td>
                            <td>Matriclue</td>
                            <td>Date justification</td>
                            <td>Etat</td>
                            <td>Détail</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Amadou</td>
                            <td>Ba</td>
                            <td>2022-am-VUA</td>
                            <td>2023-10-12</td>
                            <td>non traité</td>

                            <td>
                                <a href="detail.html"><button class="bout" type="submit">Détail</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Amadou</td>
                            <td>Ba</td>
                            <td>2022-am-VUA</td>
                            <td>2023-10-12</td>
                            <td>non traité</td>
                            <td>
                                <a href="detail.html"><button class="bout" type="submit">Détail</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Amadou</td>
                            <td>Ba</td>
                            <td>2022-am-VUA</td>
                            <td>2023-10-12</td>
                            <td>non traité</td>
                            <td>
                                <a href="detail.html"><button class="bout" type="submit">Détail</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Amadou</td>
                            <td>Ba</td>
                            <td>2022-am-VUA</td>
                            <td>2023-10-12</td>
                            <td>non traité</td>
                            <td>
                                <a href="detail.html"><button class="bout" type="submit">Détail</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>