*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    /* background-image: url(Images/1.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    width: 50%;
    height: auto;
    margin: 0 auto;
    background-color:white;
    border-radius: 10px/10px;
    box-shadow: 0 0 5px gray,
    0 0 10px gray;
    padding: 5%;
}

h4{
    text-align: center;
    font-size: 24px;
}
hr{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 2%;
}

label{
    margin-bottom: 5px;
    font-size: 22px;
}
input{
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 5px/5px;

}

input,label{
    width: 100%;
}
input:focus {
border: 1px solid #16858C;
}
input[type="button"]{
    background-color: #16858C;
    color: white;
    cursor: pointer;
    border: 1px solid #16858C;
    font-weight: bolder;
    /* margin: 0 10px; */
}
input[type="button"]:hover{
   box-shadow: 2px 2px 3px black;
   /* border: 1px solid black; */
}
