<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tabbord.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Tableau de bord</title>
</head>
<body>
    <section>
        <div class="Dashboard">
            <div class="profil"></div>
            <a href="tabbord.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-tasks" aria-hidden="true"></span>Tableau de bord</span></a>
            <a href="liste.etudiant.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list" ></span>Liste des etudiants</a>
            <a href="list.cour.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des cours</a>
            <a href="liste.classe.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des classes</a>
            <a href="liste.justification.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des justifications</a>
            <a href="index.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-sign-out" ></span>Se Déconnecter</a>
        </div>
        <div class="prof-body">
            <h3 style="color: #16858C;margin-top: 1%;margin-left: 2%;">Annee scolaire: 2022-2023</h3>
            <div class="container">
                <div class="box">
                    <h3 style="color:#0791DF ;">Total Etudiant</h3>
                    <h4>54 Etudiants</h4>
                </div>
                <div class="box">
                    <h3 style="color:#00B292 ;">Total Classe</h3>
                    <h4>06 Classes</h4>
                </div>
                <div class="box">
                    <h3 style="color:rgba(245, 0, 0, 0.75) ;">Total Professeur</h3>
                    <h4>10 Professeurs</h4>
                </div>
        
            </div>
            <div style="display: flex; justify-content: space-around;">
                <h3 style="color:rgba(245, 0, 0, 0.75);;">Les 5 étudiants les plus absentéistes</h3>
                <h3 style="color:rgba(245, 133, 0, 0.75);">Les  étudiants ayant depassés 25h d’absence</h3>
            </div>
            <div class="contenu">
                <div class="cont">
                    <a href="liste.etudiant.absent.html"><button class="but" type="button">Voir Détails</button></a>
                </div>
                <div class="cont">
                    <a href="liste2.etudiant.absence.html"><button class="but" type="button">Voir Détails</button></a>
                </div>
            </div>
            <div style="display: flex; justify-content: space-around;">
                <h3 style="color:#0791DF;margin-top: 1%;">Nombres de cours par professeur</h3>
                <h3 style="color:#00B292;margin-top: 1%;">Nombres de cours par classe</h3>
            </div>
                <div class="box-case">
                   <div class="case">
                       <div class="ord">
                           <span>6 -</span>
                           <span>5 -</span>
                           <span>4 -</span>
                           <span>3 -</span>
                           <span>2 -</span>
                           <span>1 -</span>
                        </div>
                        <div class="histo">
                            <div class="hist"></div>
                            <div class="hist1"></div>
                            <div class="hist2"></div>
                            <div class="hist3"></div>
                            <div class="hist4"></div>
                        </div>
                        <div style="display: flex;">
                              <p class="titre">Amadou Ba</p>
                              <p class="titre1">Awa Sene</p>
                              <p class="titre2">Ibrahima Mané</p>
                              <p class="titre3">Khadija Sow</p>
                              <p class="titre4">Thierno Sarr</p>
                        </div>
                   </div>
                   <div class="case">
                    <div class="ord">
                        <span>6 -</span>
                        <span>5 -</span>
                        <span>4 -</span>
                        <span>3 -</span>
                        <span>2 -</span>
                        <span>1 -</span>
                     </div>
                     <div class="histo">
                         <div class="hist"></div>
                         <div class="hist1"></div>
                         <div class="hist2"></div>
                         <div class="hist03"></div>
                         <div class="hist04"></div>
                         <div class="hist5"></div>

                     </div>
                     <div style="display: flex;">
                           <p style="margin-left: 12%;"class="titre">L1DEVWEB</p>
                           <p style="margin-left: 2%;" class="titre1">L2DEVWEB</p>
                           <p style="margin-left: 3%;" class="titre2">L1GL</p>
                           <p style="margin-left: 8%;" class="titre3">L2GL</p>
                           <p style="margin-left: 8%;" class="titre4">L1DESIGN</p>
                           <p class="titre4">L2DESIGN</p>

                     </div>
                   </div>
                </div>
          
        </div>
    </section>
</body>
</html>