*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
}
.Dashboard{
    width: 20%;
    height: 100%;
    background-color: #16858C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.profil{
    width: 150px;
    height: 100px;
    background-image: url(Images/profi.jpg);
    background-size: cover;
    border-radius: 100%;
    margin:10% 35%;
}
.Dashboard a{
    width: 90%;
    height: 50px;
    background-color: #16858C;
    margin-bottom: 2%; 
    border: 1px solid white; 
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border-radius: 5px/5px;

}
.Dashboard  a:last-child{
    border: 1px solid rgba(4, 4, 4, 0.46);
    background-color: rgba(4, 4, 4, 0.46);
    cursor: pointer; 
}
.Dashboard  a:hover{
    background-color: rgba(4, 4, 4, 0.46);
    border: 1px solid rgba(4, 4, 4, 0.46);
    border-radius: 0px 15px 0px 10px;
    color: white;
}
.prof-body{
    width: 80%;
    height: 100%;
    /* background-color: aqua; */
}
.container{
    width: 70%;
    height: 15vh;
    /* background-color: yellow; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1%;
}
.box{
    width: 200px;
    height: 80px;
    background-color: white;
    box-shadow: 0 0 4px gray,
    0 0 8px gray;
}
.box:nth-child(1){
    border-left: 4px solid #0791DF;
}
.box:nth-child(2){
    border-left: 4px solid #00B292;
}
.box:nth-child(3){
    border-left: 4px solid rgba(245, 0, 0, 0.75);
}
.box h3{
    margin-top: 10%;
    margin-left: 10%;
}
.box h4{
    margin-left: 10%;
    color: gray;
}
.contenu{
    width: 95%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cont{
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 1%;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 3px gray,
    0 0 6px gray;
}
.but{
    width: 120px;
    height: 40px;
    background-color: #16858C;
    color: white;
    /* margin: 0% 45%; */
    font-weight: bolder;
    font-size: 16px;
    border: 1px solid #16858C ;
    border-radius: 5px/5px;
    cursor: pointer; 
}
.but:hover{
    filter: brightness(1.1);
}
.box-case{
    width: 100%;
    height: 355px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
    margin-top: 1%;
}
.case{
    width: 48%;
    height: 350px;
    background-color: white;
    box-shadow: 0 0 3px gray,
    0 0 6px gray;
}
.ord{
    width: 40px;
    height: 300px;
    /* display: flex; */
    /* background-color: aqua; */
    border-right: 2px solid gray;
    display: grid;
    justify-content: space-around;
    cursor: pointer;
    margin: 2% 0%;
}
.ord span{
    color: gray;
}
.histo{
    width:488px;
    height:300px;
    display: flex;
    border-bottom: 2px solid gray;
    /* background-color: blue; */
    position: absolute;
    margin-top:-22.8%;
    margin-left: 2.8%;
    cursor: pointer;
}
.hist{
    width: 25px;
    height: 140px;
    background-color: red;
    margin-left: 10%;
    position: absolute;
    margin-top: 32.8%;
}
.hist1{
    width: 25px;
    height: 140px;
    background-color: blue;
    margin-left: 25%;
    position: absolute;
    margin-top: 32.8%;
}
.hist2{
    width: 25px;
    height: 235px;
    background-color: green;
    margin-left: 40%;
    position: absolute;
    margin-top: 13%;
}
.hist3{
    width: 25px;
    height: 140px;
    background-color: orangered;
    margin-left: 55%;
    position: absolute;
    margin-top: 32.8%;
}
.hist4{
    width: 25px;
    height: 287px;
    background-color: skyblue;
    margin-left: 70%;
    position: absolute;
    margin-top: 2.6%;
}
.hist04{
    width: 25px;
    height: 82px;
    background-color: skyblue;
    margin-left: 70%;
    position: absolute;
    margin-top: 44.5%;
}
.hist03{
    width: 25px;
    height: 287px;
    background-color: orangered;
    margin-left: 55%;
    position: absolute;
    margin-top: 2.6%;
}
.hist5{
    width: 25px;
    height: 287px;
    background-color: yellow;
    margin-left: 85%;
    position: absolute;
    margin-top: 2.6%;
}
.titre{
    font-size: 12px;
    font-weight: bolder;
    margin-left: 12%;
    transform: rotate(20deg);
}
.titre1{
    font-size: 12px;
    font-weight: bolder;
    margin-left: 5%;
    transform: rotate(20deg);
}
.titre2{
    font-size: 12px;
    font-weight: bolder;
    margin-left: 5%;
    transform: rotate(20deg);
}
.titre3{
    font-size: 12px;
    font-weight: bolder;
    margin-left: 2%;
    transform: rotate(20deg);
}
.titre4 {
    font-size: 12px;
    font-weight: bolder;
    margin-left: 2%;
    transform: rotate(20deg);
}

