<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="liste.cours.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Voir les absences</title>
</head>
<body>
    <section>
        <div class="Dashboard">
            <div class="profil"></div>
            <a href="tabbord.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-tasks" aria-hidden="true"></span>Tableau de bord</span></a>
            <a href="liste.etudiant.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list" ></span>Liste des etudiants</a>
            <a href="list.cour.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des cours</a>
            <a href="liste.classe.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des classes</a>
            <a href="liste.justification.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-list "></span>Liste des justifications</a>
            <a href="index.html"><span style="color: white;size: 100px;margin: 5% 3%;" class="fa fa-sign-out" ></span>Se Déconnecter</a>
        </div>
        <div class="prof-body">
            <div class="container">
                <div ><a href="liste.etudiant.html"><span style="margin: 1% 3%;font-size: 30px;cursor: pointer;color: black;" class="fa fa-arrow-circle-left"></a></span></div>
                <h3 >LISTE DES ABSENCES</h3>
                <h3 style="margin-top: 2%;" >Les absences de Amadou Ba</h3>
                <table class="table-style">
                    <thead>
                        <tr>
                            <th>Cours</th>
                            <th>Date d'absence</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Semestre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Algo</td>
                            <td>16-10-2022</td>
                            <td>08:00:00</td>
                            <td>16:00:00</td>
                            <td>Semestre 1</td>
                        </tr>
                        <tr>
                            <td>Algo</td>
                            <td>17-10-2022</td>
                            <td>08:00:00</td>
                            <td>14:00:00</td>
                            <td>Semestre 1</td>
                        </tr>
                        <tr>
                            <td>Algo</td>
                            <td>18-10-2022</td>
                            <td>08:00:00</td>
                            <td>12:00:00</td>
                            <td>Semestre 1</td>
                        </tr>
                        <tr>
                            <td>Algo</td>
                            <td>18-10-2022</td>
                            <td>08:00:00</td>
                            <td>16:00:00</td>
                            <td>Semestre 1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>